

<form method="post" action="/generate">
    <input type="checkbox" name="resource" value="all" checked> All<br>
    <input type="checkbox" name="all" value="all"> All<br>
    <input type="checkbox" name="resource" value="public"> Public<br>
    <input type="checkbox" name="public" value="read"> Read
    <input type="checkbox" name="public" value="write"> Write
    <input type="checkbox" name="public" value="delete"> Delete<br>
    <input type="checkbox" name="resource" value="trunk"> Trunk<br>
    <input type="checkbox" name="trunk" value="read"> Read
    <input type="checkbox" name="trunk" value="write"> Write
    <input type="checkbox" name="trunk" value="delete"> Delete<br>
    <input type="checkbox" name="resource" value="number"> Number<br>
    <input type="checkbox" name="number" value="read"> Read
    <input type="checkbox" name="number" value="write"> Write
    <input type="checkbox" name="number" value="delete"> Delete<br>
    <input type="checkbox" name="resource" value="user"> User<br>
    <input type="checkbox" name="user" value="read"> Read
    <input type="checkbox" name="user" value="write"> Write
    <input type="checkbox" name="user" value="delete"> Delete<br>
    <input type="checkbox" name="resource" value="cluster"> Cluster<br>
    <input type="checkbox" name="cluster" value="read"> Read
    <input type="checkbox" name="cluster" value="write"> Write
    <input type="checkbox" name="cluster" value="delete"> Delete<br>

    <input type="checkbox" name="resource" value="campaign"> Campaign<br>
    <input type="checkbox" name="campaign" value="read"> Read
    <input type="checkbox" name="campaign" value="write"> Write
    <input type="checkbox" name="campaign" value="delete"> Delete<br>

    <input type="checkbox" name="resource" value="profile"> Profile<br>
    <input type="checkbox" name="profile" value="read"> Read
    <input type="checkbox" name="profile" value="write"> Write
    <input type="checkbox" name="profile" value="delete"> Delete<br>

    <input type="checkbox" name="resource" value="enduser"> End User<br>
    <input type="checkbox" name="enduser" value="read"> Read
    <input type="checkbox" name="enduser" value="write"> Write
    <input type="checkbox" name="enduser" value="delete"> Delete<br>

    <input type="checkbox" name="resource" value="network"> Network<br>
    <input type="checkbox" name="network" value="read"> Read
    <input type="checkbox" name="network" value="write"> Write
    <input type="checkbox" name="network" value="delete"> Delete<br>


    <input type="checkbox" name="resource" value="callrule"> Call Rule<br>
    <input type="checkbox" name="callrule" value="read"> Read
    <input type="checkbox" name="callrule" value="write"> Write
    <input type="checkbox" name="callrule" value="delete"> Delete<br>

    <input type="checkbox" name="resource" value="requestserver"> Request Server<br>
    <input type="checkbox" name="requestserver" value="read"> Read
    <input type="checkbox" name="requestserver" value="write"> Write
    <input type="checkbox" name="requestserver" value="delete"> Delete<br>

    <input type="checkbox" name="resource" value="requestmeta"> Request Meta<br>
    <input type="checkbox" name="requestmeta" value="read"> Read
    <input type="checkbox" name="requestmeta" value="write"> Write
    <input type="checkbox" name="requestmeta" value="delete"> Delete<br>

    <input type="checkbox" name="resource" value="ardsresource"> Resource<br>
    <input type="checkbox" name="ardsresource" value="read"> Read
    <input type="checkbox" name="ardsresource" value="write"> Write
    <input type="checkbox" name="ardsresource" value="delete"> Delete<br>

    <input type="checkbox" name="resource" value="ardsrequest"> Request<br>
    <input type="checkbox" name="ardsrequest" value="read"> Read
    <input type="checkbox" name="ardsrequest" value="write"> Write
    <input type="checkbox" name="ardsrequest" value="delete"> Delete<br>


    <input type="checkbox" name="resource" value="appreg"> App Registry<br>
    <input type="checkbox" name="appreg" value="read"> Read
    <input type="checkbox" name="appreg" value="write"> Write
    <input type="checkbox" name="appreg" value="delete"> Delete<br>

    <input type="checkbox" name="resource" value="sipuser"> Sip User<br>
    <input type="checkbox" name="sipuser" value="read"> Read
    <input type="checkbox" name="sipuser" value="write"> Write
    <input type="checkbox" name="sipuser" value="delete"> Delete<br>

    <input type="checkbox" name="resource" value="conference"> Conference<br>
    <input type="checkbox" name="conference" value="read"> Read
    <input type="checkbox" name="conference" value="write"> Write
    <input type="checkbox" name="conference" value="delete"> Delete<br>


    <input type="checkbox" name="resource" value="limit"> Limit<br>
    <input type="checkbox" name="limit" value="read"> Read
    <input type="checkbox" name="limit" value="write"> Write
    <input type="checkbox" name="limit" value="delete"> Delete<br>

    <input type="checkbox" name="resource" value="fileservice"> File Service<br>
    <input type="checkbox" name="fileservice" value="read"> Read
    <input type="checkbox" name="fileservice" value="write"> Write
    <input type="checkbox" name="fileservice" value="delete"> Delete<br>


    <input type="checkbox" name="resource" value="schedule"> Schedule<br>
    <input type="checkbox" name="schedule" value="read"> Read
    <input type="checkbox" name="schedule" value="write"> Write
    <input type="checkbox" name="schedule" value="delete"> Delete<br>


    <input type="checkbox" name="resource" value="appointment"> Appointment<br>
    <input type="checkbox" name="appointment" value="read"> Read
    <input type="checkbox" name="appointment" value="write"> Write
    <input type="checkbox" name="appointment" value="delete"> Delete<br>






    <input type="submit" value="Submit">
</form>

<% if (token) { %>

<a>id: <%= tokenid %></a><br>
<a>token: </a><br>
<textarea><%= token %></textarea>
<% } %>


<br><a href="/">Index</a>